/*estilos generales*/
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #ffffff; 
    font-size: 1em;
    line-height: 1.5em;

    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/

}
 
h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
 
p {
    margin: 0 0 1.5em 0;
}
 
img {
    max-width: 100%;
    height: auto;
}

/*Fin estilos generales*/

/*estilos cabecera*/
#main-header {
    background: #333;
    color: white;
    height: 120px;

    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}   
    #main-header a {
        color: white;
    }
 
/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 35px 0 0 30px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #F98133;
    }
    
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    
    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }
    
 button{
  font-size:18px;
  font-family:Verdana,Helvetica;
  text-align: center;
  color: #000000;
  background: #ffffff;
  padding: auto;
  border: 0px;
}
/*
 * Navegación
 */
nav {
    float: right;
}
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 0px;
    }
    
        nav ul li {
            display: inline-block;
            line-height: 120px;
        }
            
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }
            
                nav ul li a:hover {
                    background: #F98133;
                }
/*fin estilo cabecera*/

/*estilos de contenido*/
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: white;
    }

/*fin estilo de contenido*/


